git+https://github.com/pytgcalls/tgcalls@dev
git+https://github.com/pytgcalls/pytgcalls@dev
python-dotenv
youtube-search-python
tgcrypto
git+https://github.com/pyrogram/pyrogram@master
youtube-dl
pafy
